.bg-image {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FPok%25C3%25A9mon&psig=AOvVaw1x-VrE4emfzJXNsqBQQK0p&ust=1752305132733000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIjp6rejtI4DFQAAAAAdAAAAABAE');
  background-size: cover;
  background-position: center;
}

.main-navbar {
  background-color: #272d4a; 
}

body {
  font-family: 'Poppins', sans-serif;
}

.login-body {
  background-image: url('assets/Background-Tile.png');
}

.login-hero-image-wrapper {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: visible; /* allow image to overflow */
}

.login-hero-image {
  position: absolute;
  top: 30px;
  left: -10px;
  width: 110%;
  height: auto;
  size: 100%;
  z-index: 10;
  filter: drop-shadow(5px 15px 15px #22222233);
}

.login-hero-background {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #d82b2e;
  border-top-left-radius: 1.9rem;
  border-bottom-left-radius: 1.9rem;
}