.bg-image {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FPok%25C3%25A9mon&psig=AOvVaw1x-VrE4emfzJXNsqBQQK0p&ust=1752305132733000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIjp6rejtI4DFQAAAAAdAAAAABAE');
  background-size: cover;
  background-position: center;
}

.main-navbar {
  background-color: #272d4a; 
}

.main-footer {
  background-color: #272d4a; 
  color: white
}

body {
  font-family: 'Poppins', sans-serif;
}

.login-body {
  background-image: url('assets/Background-Tile.png');
}

.login-hero-image-wrapper {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: visible; /* allow image to overflow */
}

.login-hero-image {
  position: absolute;
  top: 30px;
  left: -10px;
  width: 110%;
  height: auto;
  size: 100%;
  z-index: 10;
  filter: drop-shadow(5px 15px 15px #22222233);
}

.login-hero-background {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #d82b2e;
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
}

.item-background {
  background-image: url('assets/Item-Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.pokeball-background-tiles {
  background-color: #ffde00;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

.grass-background {
  background-image: url('assets/Grass-Background.png');
  background-size: cover;
  background-position: center;
}

.box-a, .box-b, .box-c, .box-d {
  background-size: cover;
  background-position: center;
}

.box-a{
  background-image: url('assets/Blastoise-Hero.png');
}

.box-b{
  background-image: url('assets/City-Background.png');
}

.box-c{
  background-image: url('assets/Forest-Background.png');
}

.box-d{
  background-image: url('assets/Ditto-Background.png');
}

.box-text{
  filter: drop-shadow(5px 15px 15px #22222233);
}

.bento-item {
  height: 300px;
  border-radius: 1em;
  display: flex;
  font-weight: bold;
  align-items: end;
  color: #272d4a;
  transition: transform 0.3s ease;
  padding: 2em;
  filter: drop-shadow(5px 15px 15px #22222233);
}

.bento-item:hover {
  transform: scale(1.025);
}

.meowth {
 margin-top: 10%;
 margin-left: 18%;
 margin-bottom: 50px;
 width: auto;
 height: auto;
 float: left;
 padding-right:25% ;
}

.meowth-text {
  margin-top: 5%;
  margin-bottom: 45px;
  font-size: 55px;
  font-family: 'Hammersmith One';
  padding-right: 40px;

}

.about-text {

  font-size: 30px;
  font-family: 'Hammersmith One';
  padding-right: 40px;
}

.image-container {
      text-align: center;
      max-width: 100%;
    }

    .image-container img {
      width: 250px; 
      height: 250px;
      display: block;
      margin: 0 auto;
    }

    .image-container p {
      margin-top: 8px;
      font-size: 16px;
    }

.product-image {
  margin-top: 0%;
  padding: 0%;
}
    .Incense {
      position: relative;
      top: 215px; 
      left: 65px;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 400px;
    }

    .Lucky-Egg {
      position: relative;
      top: 250px; 
      left: 85px;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 400px;
    }

    .Star-Piece {
      position: relative;
      top: 180px; 
      left: 5px;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
    }

    .Pokemon-Storage {
      position: relative;
      top: 180px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Item-Bag {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Max-Particle {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Max-Mushroom {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Egg-Incubator {
      position: relative;
      top: 200px; 
      left: 0px;
      transform: translate(-50%, -50%);
      width: 230px;
      height: 230px;
    }

    .Super-Incubator {
      position: relative;
      top: 200px; 
      left: 0px;
      transform: translate(-50%, -50%);
      width: 230px;
      height: 230px;
    }
    
    .Max-Revive {
      position: relative;
      top: 220px; 
      left: 45px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Rare-Candy {
      position: relative;
      top: 280px; 
      left: 83px;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 400px;
    }

    .Lure {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }
    
    .Glacial-Lure {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Mossy-Lure {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Magnetic-Lure {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Rainy-Lure {
      position: relative;
      top: 230px; 
      left: 40px;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
    }

    .Remote-Raid-Pass {
      position: relative;
      top: 210px; 
      left: 15px;
      transform: translate(-50%, -50%);
    }

    .Premium-Battle-Pass {
      position: relative;
      top: 210px; 
      left: 15px;
      transform: translate(-50%, -50%);
    }

    .Coins-110 {
      position: relative;
      top: 230px; 
      left: 80px;
      transform: translate(-50%, -50%);
    }

    .Coins-600 {
      position: relative;
      top: 230px; 
      left: 80px;
      transform: translate(-50%, -50%);
    }

    .Coins-1300 {
      position: relative;
      top: 230px; 
      left: 80px;
      transform: translate(-50%, -50%);
    }

    .Coins-2700 {
      position: relative;
      top: 230px; 
      left: 80px;
      transform: translate(-50%, -50%);
    }

    .Coins-5600 {
      position: relative;
      top: 230px; 
      left: 80px;
      transform: translate(-50%, -50%);
    }

     .Coins-15500 {
      position: relative;
      top: 230px; 
      left: 80px;
      transform: translate(-50%, -50%);
    }


    .product-details{
      margin-top: 0%;
    }

    .product-box{
      background-color: white;
      padding: 30px;
      margin-top: 0px;
      width: 500px;
      height: 600px;
    }

    .item-subtitle {
      font-size: 0.9rem;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .item-price {
      font-size: 1.75rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .item-description {
      border-top: 1px solid #b7bbbb;
      padding-top: 20px;
      margin-top: 1rem;
      font-size: small;
      font-weight: 400;
    }

    .add-to-cart-btn {
    justify-content: space-between;
    align-items: center;
    background-color: #232842;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    width: 100%;
    transition: background-color 0.2s;
  }
  